@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Poppins:wght@300;500&display=swap');

:root {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    height: 100%;
}

body {
    height: 100%;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
    display: flex;
}

.logo {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 300;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    min-width: 15rem;
    height: 100%;
}

main {
    width: 100%;
    margin: 1rem;
}

.album-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.album-image-card {
    background-color: #f9f9f9;
}

.album-image-wrapper {
    max-width: 400px;
}

.album-image-wrapper:hover{
    cursor: pointer;
}

img {
    width: 100%;
}

.upload-container {
    display: flex;
    flex-direction: column;
}

.lightbox-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.lightbox-image-container {
    max-width: 80%;
    max-height: 75%;
}

.lightbox-wrapper img {
    width: 100%;
    max-height: 800px;
}

.MuiModal-root {
    display: flex;
    align-items: center;
    justify-content: center;
}

.albums-page-wrapper {
    display: flex;
    flex-direction: column;
}

/* Login Form */
.login-form > form{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 300px;
    justify-content: center;
}

/* Login Form */
.signup-form > form{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 300px;
    justify-content: center;
}


/* Nav */
.nav-drawer-desktop {
    width: 15rem;
}

.nav-drawer > div{
    /* background-color: #2DB79D; */
    display: flex;
    align-items: center;
}

.nav-mobile {
    display: flex;
}

.nav-desktop {
    display: flex;
    flex-direction: column;
    width: 15rem;
}

.nav-drawer a {
    color: black;
    text-decoration: none;
}

.nav-drawer a:visited {
    color: inherit;
}

.nav-drawer a:hover {
    /* background-color: blue; */
    border-radius: 5px;
}

.nav-drawer button:hover {
    background-color: blue;
}

.nav-drawer-desktop svg{
    margin: 0 1.8rem 0 0.2rem;
}