@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Poppins:wght@300;500&display=swap');

:root {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    height: 100%;
}

body {
    height: 100%;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
    display: flex;
}

.logo {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 300;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    min-width: 15rem;
    height: 100%;
}

main {
    width: 100%;
}